@font-face {
    font-family: "FreePixel";
    src: url(fonts/FreePixel.ttf);
}
body {
    margin: 0;
    margin-bottom: 10px;
    background-color: rgb(78, 88, 68);
}
.topbar {
    height: 65px;
    background-color: #000000;
    display: block;
}
.topbox {
    background-color: rgb(40, 45, 34);
    width:800px;
    height: 75px;
    padding: 0;
    margin: auto;
    display: block;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}
.middlebox {
    background-color: rgb(61,64,56);
    width: 800px;
    height: 5px;
    padding: 0;
    margin: auto;
    display: block;
}
.bottombox {
    background-color: rgb(0, 0, 0);
    width: 800px;
    height: 41px;
    padding: 0;
    margin: auto;
    display: block;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.bottombox a {
    color: white;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
    display: inline-flex;
    font-size:smaller;
    text-decoration: none;
}
.mainbox {
    background-image: linear-gradient(rgb(254,254,254), rgb(245,245,245), rgb(234,234,234), rgb(184,184,184));
    width: 800px;
    padding: 0;
    margin: auto;
    display: block;
    border-radius: 10px;
    
}
.subbox {
    background-color: #c9c9c8;
    border: 1px solid #000000;
    border-radius: 10px;
}
.social {
    margin-left: 1240px;
}
.social img{
    width: 40px;
    opacity: 50%;
    vertical-align: middle;
    
}